<div class="container">
  <div class="row">
    <div class="col col-sm-6 offset-sm-3">
      <div class="card my-5">
        <div class="card-header">
          You
        </div>
        <div class="card-block">
          <h4 class="card-title"><%= @question %></h4>
        </div>
      </div>
      <div class="card my-5">
        <div class="card-header">
          Coach
        </div>
        <div class="card-block">
          <h4 class="card-title"><%= @answer %></h4>
        </div>
      </div>
      <a href="/" class="btn btn-primary">Ask me another question</a>
    </div>
  </div>
</div>
