<div class="container">
  <div class="row">
    <div class="col col-sm-6 offset-sm-3">
      <form action="/answer" class="my-5">
        <div class="form-group">
        <label for="question">Ask me something</label>
          <input type="text" class="form-control" id="question" name="query" placeholder="Your message">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
